{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Insilico Medecine">
    <meta name="author" content="Insilico Medecine">
    
    <title>Mortality.AI</title>
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300" rel="stylesheet" type="text/css">
    <link href="{% static 'css/mortality.css' %}" rel="stylesheet">
    
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
  
  </head>
  <body style="background: url('{% static "images/back_pol.png" %}') no-repeat top left;
               background-size: cover; -webkit-background-size: cover;
               -moz-background-size: cover;" class="login">
    
    <div class="container" style="padding-left: 250px;">
    <br/><br/>
    <div class="row" >
      <div class="col-xs-12 text-center">
        <h1><img src='{% static "images/insilico_logo.png" %}' style='height:150px;'/> Welcome to Mortality.AI</h1>
      </div>
      
      <div class="row" >
      
        <div class="col-xs-12 text-center intro_container">
          <p class="intro">
          This is a deep learned predictor of mortality, which guesses the year of death using
blood biochemistry, clinical and demographic data.
          </p>
          
          <p class="intro">Warning: please carefully read the disclaimer and instructions carefully before entering
Mortality.AI. You must be over 18 years old to enter. By pressing yes you agree to the
terms and conditions described here.</p>
          <p class="intro">The authors make no claims on the accuracy of the system and this system should not
be used for any purposes other than entertainment and research collaborations.</p>
          <p class="intro">If you are not satisfied with the time you have left, please consider the following
options: take the test again, reduce the various risk factors, engage in aging research</p>

          <p class="intro">Please visit some of the other resources we helped develop including
www.Aging.AIPlease visit some of the other resources we helped develop including
www.Aging.AI and www.Embryonic.AI ( Watch the VIDEO)</p>
          <br/>
         <p class='intro'>
            
            <a href='/form/' class='btn btn-success btn-lg' onclick='location.href'>Agree to Terms and <br/>
                   Conditions and Enter</a>

         </p>

        </div>
      
      </div>
    
    </div>
    
  </body>
</html>