{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Insilico Medecine">
    <meta name="author" content="Insilico Medecine">
    
    <title>Mortality.AI</title>
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300" rel="stylesheet" type="text/css">
    <link href="{% static 'css/mortality.css' %}" rel="stylesheet">
    
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  
  </head>
  <body style="background: url('{% static "images/back_pol.png" %}') no-repeat top left;
               background-size: cover; -webkit-background-size: cover;
               -moz-background-size: cover;" class="login">
    
    <div class="container" style="padding-left: 250px;">
    <br/><br/>
    <div class="row" >
      <div class="col-xs-12 text-center">
        <h1><img src='{% static "images/insilico_logo.png" %}' style='height:150px;'/>{{start_page_text.header}}</h1>
      </div>
      
      <div class="row" >
      
        <div class="col-xs-12 text-center intro_container">
          
          {{start_page_text.text|safe}}
          
          
         
          <br/>
         <p class='intro'>
            
            <a href='/form/' class='btn btn-success btn-lg' onclick='location.href'>Agree to Terms and <br/>
                   Conditions and Enter</a>

         </p>

        </div>
      
      </div>
    
    </div>
    
  </body>
</html>