{% load staticfiles %}
{% load markdown_deux_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Insilico Medecine">
    <meta name="author" content="Insilico Medecine">

    <title>Mortality.AI | Input Form </title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/template.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
     
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/form/">
                <img src='{% static "images/insilico_logo.png" %}' style="display:inline; height:30px;"/>
                Mortality.AI</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#form_inp">Fill the form</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about1"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1><img src='{% static "images/insilico_logo.png" %}' style="display:inline; height:150px;"/> Mortality.AI</h1>
                        <h3>A Deep Learned predictor of mortality</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            
                            <li>
                                <a href="#form_inp" class="btn btn-success btn-lg">
                                  <span class="network-name">Fill the form</span>
                                 </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

<!-- Page Content -->
<a  name="about"></a>
	<a  name="services"></a>
	
	<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{how_its_done.header}}</h2>
                    <p class="lead">
                      {{how_its_done.text|markdown}} 
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/static/images/dnn.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
	
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6" >
                    <hr class="section-heading-spacer ">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{desc.header}}:</h2>
                    <p class="lead">
                      {{desc.text|markdown}}
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{rules.header}}</h2>
                    <p class="lead">
                      {{rules.text|markdown}}
                    </p>
                </div>
            </div>
<a  name="form_inp"></a>
        </div>
        <!-- /.container -->
      
      </div>
    <!-- /.content-section-a -->
    
    

<hr class='section-heading-spacer' style='width:80%; float:none;'/>
<br/>
<div class="container" style='clear:both'>

          <form action="" method="post" id='nnMortalityForm'>
          <div class='form1' style="text-align:left; margin: 0 0 10px 0;">
          
          <input type='hidden' name='metric' value='{{metric}}' />
          
          <table class='table table-borderless'>
          <tr>
          <td>
          
          Age: &nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;
           <input type='number' name='age' min="18" max="90" 
                  class='form-control' style="width:100px; display:inline;" required/>&nbsp; years 
          
          <br/><br/>
          Weight:&nbsp; <input type='number' name='weight' min="1" max="300" id="weight_input"
                               class='form-control' style="width:100px; display:inline;" required/>&nbsp; kg
          <br/><br/>
          Height:&nbsp;&nbsp; <input type='number' name='height' min="1" max="400" id='height_input'
                               class='form-control' style="width:100px; display:inline;" required/>&nbsp; cm
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </td>
          <td>
          Sex:	&nbsp;&nbsp;&nbsp;  
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success">
              <input type="radio" name="sex" id="option1" autocomplete="off" value='1' required> Male
            </label>
            <label class="btn btn-success">
              <input type="radio" name="sex" id="option2" autocomplete="off" value='0' required> Female
            </label>
          </div>
           <div style='margin: 50px 0 0 0'>
           <a href='https://en.wikipedia.org/wiki/Body_mass_index' target='_blank'>BMI:</a>
            &nbsp;&nbsp;<span id='bmi_rate'>0</span>
           </div>
          </td></tr>
          
          <tr>
          <td>
          Current country of residence:
          </td>
          <td>
           {{form.country}}
          </td>
          </tr>
          
           <tr>
          <td>
          Alcohol consumption: &nbsp;&nbsp;
          </td>
          <td>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success">
              <input type="radio" name="alcohol" id="alcohol0" autocomplete="off" value='0' required> Non-drinker
            </label>
            <label class="btn btn-success">
              <input type="radio" name="alcohol" id="alcohol1" autocomplete="off" value='1' required> < 1 drink/month
            </label>
            <label class="btn btn-success">
              <input type="radio" name="alcohol" id="alcohol2" autocomplete="off" value='2' required> 0-4 drinks/week
            </label>
            <label class="btn btn-success">
              <input type="radio" name="alcohol" id="alcohol3" autocomplete="off" value='3' required> 5-9 drinks/week
            </label>
            <label class="btn btn-success">
              <input type="radio" name="alcohol" id="alcohol4" autocomplete="off" value='4' required> 10-24 drinks/week
            </label>
            <label class="btn btn-success">
              <input type="radio" name="alcohol" id="alcohol5" autocomplete="off" value='5' required> Heavy drinker
            </label>
          </div>
          </td>        
          </tr>
          
          <tr>
          <td>
          Do you smoke? &nbsp;&nbsp;
          </td>
          <td>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success">
              <input type="radio" name="smoke" id="smoke0" autocomplete="off" value='0' required> Never smoked
            </label>
            <label class="btn btn-success">
              <input type="radio" name="smoke" id="smok1" autocomplete="off" value='1' required> Former smoker
            </label>
            <label class="btn btn-success">
              <input type="radio" name="smoke" id="smoke2" autocomplete="off" value='2' required> Current light smoker
            </label>
            <label class="btn btn-success">
              <input type="radio" name="smoke" id="smoke3" autocomplete="off" value='3' required> Current heavy smoker
            </label>
          </div>
          </td>
          </tr>
          
          <tr>
          <td>
          Social Status: &nbsp;&nbsp;
          </td>
          <td>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success">
              <input type="radio" name="social_status" id="social_status0" autocomplete="off" value='0' required> Poor social life
            </label>
            <label class="btn btn-success">
              <input type="radio" name="social_status" id="social_status1" autocomplete="off" value='1' required> Good social life
            </label>
            
          </div>
          </td>
          </tr>
          
          <tr>
          <td>
          Activity: &nbsp;&nbsp;
          </td>
          <td>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success">
              <input type="radio" name="activity" id="activity0" autocomplete="off" value='0' required> Low
            </label>
            <label class="btn btn-success">
              <input type="radio" name="activity" id="activity1" autocomplete="off" value='1' required> Moderate
            </label>
            <label class="btn btn-success">
              <input type="radio" name="activity" id="activity2" autocomplete="off" value='2' required> High
            </label>
            
          </div>
          </td>        
          </tr>
          
          <tr>
          <td>
          Active mental disorders: &nbsp;&nbsp;
          </td>
          <td>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success">
              <input type="radio" name="mental_health" id="mental_health0" autocomplete="off" value='0' required> No
            </label>
            <label class="btn btn-success">
              <input type="radio" name="mental_health" id="mental_health1" autocomplete="off" value='1' required> Yes
            </label>
            
          </div>
          </td>
          </tr>
          
          </table>
          


          
          
          </div>
          
         
           {% csrf_token %}
           
           <table id='tbl-form' class='path table  table-bordered ' style="width:100%">
             <thead>
               <tr class="success">
                 <th>Blood Marker*</th>
                 <th>Your Value</th>
                 <th>Units and Sample Metric***</th>
               </tr>
             </thead>
             <tbody>
               {% for f in form %}
               {%if f.label != 'Country'%}
                 <tr>
                   <td>{{f.label}}</td>
                   <td>{{f}}</td>
                   <td>{{f.help_text|safe}}</td>    
                 </tr>
               {%endif%}
               {%endfor%}
               
             </tbody>  
           </table>
           
           <div class='submitDiv' style='text-align:center; margin: 20px 0 10px 0; padding: 0 0 0 0px;'>
             
             <input type="submit" id='submitBtn' value="Submit" class="btn btn-success btn-lg" />
           </div>
         </form>
         
         <div class='' style='text-align:left'>
         * This should be in your clinical biochemistry blood test results<br/>
         ** Required parameter for minimal prediction accuracy of 70% within 10 year frame<br/>
         *** We can not show you reference values before knowing your age apriori, so this is only a reference metric
         <br/><br/>
          Click on a marker to know more about what it is. Knowing your blood biochemistry markers is the new ABCs. Everyone should know it. 
         
         </div>
</div> <!-- .container -->

<br/><br/><br/><br/>
<a  name="contact"></a>


<div class="container">


</div>

<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row contact_div">
                <div class="col-lg-6">
                    <h2>Connect us:</h2>
                </div>
                <div class="col-lg-6">
                    Insilico Medicine, Inc. <br/>
Johns Hopkins University Eastern Campus<br/>
Suite B301, 1101 East 33rd St.<br/>
Baltimore, MD 21218<br/>
Phone: +1 443 451 7212<br/>
Fax: +1 443 451 7210<br/>
Email: zhu(at)insilicomedicine.com<br/>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#form_inp">Fill the form</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">&copy; Insilico Medicine, Inc. 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
<!-- jQuery -->
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

<!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--  Insilico Script -->
    <script   src="{% static 'js/mortality.js' %}"  ></script>

<script>

$(function () { 
	
	$("#id_country").addClass('form-control country_input');
	
})


	
	//


</script>

</body>