{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Insilico Medecine">
    <meta name="author" content="Insilico Medecine">

    <title>Input Form | Mortality.AI</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/{% static 'css/template.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/form/">
                <img src='/{% static "images/logo_pol.png" %}' style="display:inline; height:30px;"/> &nbsp;
                Mortality.AI</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#form_inp">Fill the form</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about1"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1><img src='/{% static "images/logo_pol.png" %}' style="display:inline; height:100px;"/> Mortality.AI</h1>
                        <h3>A Deep Learned predictor of mortality</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            
                            <li>
                                <a href="#" class="btn btn-success btn-lg">
                                  <span class="network-name">Fill the form</span>
                                 </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

<!-- Page Content -->
<a  name="about"></a>
	<a  name="services"></a>
	
	<div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How it's done</h2>
                    <p class="lead">
                    This is a deep learned predictor of mortality, which guesses the year of death using blood biochemistry, clinical and demographic data. 
                    This is a deep learned predictor of mortality, which guesses the year of death using blood biochemistry, clinical and demographic data. 
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/static/images/dnn.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
	
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6" >
                    <hr class="section-heading-spacer desciption">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Description:</h2>
                    <p class="lead">
                   This is a deep learned predictor of mortality, which guesses
                    the year of death using blood biochemistry, clinical and 
                    demographic data. Warning: please carefully read the disclaimer
                     and instructions carefully before entering Mortality.AI. You
                      must be over 18 years old to enter. By pressing yes you agree
                       to the terms and conditions described here. The authors make
                        no claims on the accuracy of the system and this system should
                         not be used for any purposes other than entertainment and 
                         research collaborations. If you are not satisfied with 
                         the time you have left, please consider the following 
                         options: take the test again, reduce the various risk 
                         factors, engage in aging research
                         </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Quick rules:</h2>
                    <p class="lead">
                    This is a deep learned predictor of mortality, which guesses
                    the year of death using blood biochemistry, clinical and 
                    demographic data. Warning: please carefully read the disclaimer
                     and instructions carefully before entering Mortality.AI.
                    </p>
                </div>
            </div>
<a  name="form_inp"></a>
        </div>
        <!-- /.container -->
      
      </div>
    <!-- /.content-section-a -->
    
    

<hr/>
<div class="container">

          <form action="" method="post" id='nnBloodForm'>
          <div class='form1' style="text-align:left; margin: 0 0 10px 0;">
          
          <input type='hidden' name='metric' value='{{metric}}' />
          
          Enter your weight: <input type='text' name='weight' class='form-control' style="width:50px; display:inline;"/> kg
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Enter your height: <input type='text' name='height' class='form-control' style="width:50px; display:inline;"/> cm
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Do you smoke? &nbsp; <label class="radio-inline">          
  <input type="radio" name="smoke" id="inlineRadio1" value="yes"> Yes
</label>
<label class="radio-inline">
  <input type="radio" name="smoke" id="inlineRadio2" value="no" checked> No
</label>


          
          
          </div>
          
         
           {% csrf_token %}
           
           <table id='tbl-form' class='path table  table-bordered ' style="width:100%">
             <thead>
               <tr class="success">
                 <th>Blood Marker*</th>
                 <th>Your Value</th>
                 <th>Units and Sample Metric***</th>
               </tr>
             </thead>
             <tbody>
               {% for f in form %}
                 <tr>
                   <td>{{f.label}}</td>
                   <td>{{f}}</td>
                   <td>{{f.help_text|safe}}</td>    
                 </tr>
               {%endfor%}
             </tbody>  
           </table>
           
           <div class='submitDiv' style='text-align:center; margin: 20px 0 10px 0; padding: 0 0 0 200px;'>
             
             <input type="submit" id='submitBtn' value="Submit" class="btn btn-success btn-lg" />
           </div>
         </form>
         
         <div class='' style='text-align:left'>
         * This should be in your clinical biochemistry blood test results<br/>
         ** Required parameter for minimal prediction accuracy of 70% within 10 year frame<br/>
         *** We can not show you reference values before knowing your age apriori, so this is only a reference metric
         <br/><br/>
          Click on a marker to know more about what it is. Knowing your blood biochemistry markers is the new ABCs. Everyone should know it. 
         
         </div>
</div> <!-- .container -->
<a  name="contact"></a>
<hr/>

<div class="container">


</div>

<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row contact_div">
                <div class="col-lg-6">
                    <h2>Connect us:</h2>
                </div>
                <div class="col-lg-6">
                    Insilico Medicine, Inc. <br/>
Johns Hopkins University Eastern Campus<br/>
Suite B301, 1101 East 33rd St.<br/>
Baltimore, MD 21218<br/>
Phone: +1 443 451 7212<br/>
Fax: +1 443 451 7210<br/>
Email: zhu(at)insilicomedicine.com<br/>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Fill the form</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">&copy; Insilico Medicine, Inc. 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

</body>